.content-grid-container
{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 50px;
}

table
{
    width: 100%;
}

table
{
    border-collapse: collapse;
    width: 100%;
}

table td, table th
{
    border: 1px solid #ddd;
    padding: 8px;
}

table th
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
    background-color: darkgrey;
}

table .ui.button
{
    width: 100%;
    white-space: nowrap;
    background-color: lightgrey;
}

#overlay
{
    display: none;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
}

#popup
{
    width: 75%;
    background-color: white;
    margin: 50px auto auto;
    padding: 20px;
    max-height: calc(100% - 100px);
    overflow-y: scroll;
}

.ol-btn
{
    margin: 10px;
}

.hidden
{
    display: none !important;
}

.status-table-cell
{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.hidden
{
    display: none !important;
}

.left.floated
{
    float: left;
}

#administration-menu
{
    float: left;
    margin: 16px 0 0;
    width: 184px;
}

#semester-administration
{
    display: grid;
}

#faculty-administration
{
    display: grid;
}

#program-primary-content-display
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#majors-primary-content-display
{
    clear: both;
}

#minors-primary-content-display
{
    clear: both;
}

#course-department-primary-content-display
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

#department-primary-content-display
{
    clear: both;
}

#course-primary-content-display
{
    clear: both;
}
