.content-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 50px;
}

.ui.message {
    grid-column: 1 / span 2;
    grid-row: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

#orinfo {
    grid-column: 1;
    grid-row: 2;
}

#stuinfo {
    grid-column: 2;
    grid-row: 2;
}

#explain {
    grid-column: 1 / span 2;
    grid-row: 3;
}

#action-title {
    grid-column: 1 / span 2;
    grid-row: 4;
}

#status {
    grid-column: 1;
    grid-row: 5;
}

#send {
    grid-column: 2;
    grid-row: 5;
}

#attachments {
    grid-column: 1 / span 2;
    grid-row: 6;
}

.file-section-header
{
    margin-top: 10px;
}

th
{
    text-align: left;
}

h2
{
    font-family: nexabold, sans-serif;
    color: white;
    padding: 10px
}

.hidden
{
    display: none !important;
}

.header-button
{
    float: right;
}


#class-info {
    border-collapse: collapse;
    width: 90%;
}

#class-info td, #class-info th {
    border: 1px solid #ddd;
    padding: 8px;
}

#class-info th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
}

th {
    text-align: left;
}

/* Shamelessly stolen from Stack Overflow */
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h2 {
    font-family: nexabold, sans-serif;
    color: white;
    padding: 10px
}
