table {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-family: monospace, monospace;
}

td {
    white-space: nowrap;
    height: 40px;
}

.error {
    outline: none;
    border-color: #ff4d61;
    box-shadow: 0 0 5px #ff4d61;
}

.warning {
    background-color: whitesmoke;
    width: calc(100% - 150px);
    margin: 50px;
    padding: 25px;
}