table {
    width: 100%;
}

input {
    width: 100%;
    box-sizing: border-box;
    font-family: monospace, monospace;
}

td {
    white-space: nowrap;
    height: 40px;
}

.error {
    outline: none;
    border-color: #ff4d61;
    box-shadow: 0 0 5px #ff4d61;
}

.container {
    max-width: 100%;
}

.input-group-addon {
    font-family: nexabold, sans-serif;
    line-height: 1;
    color: #555;
    text-align: center;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.email-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    display: table-cell;
    margin: 0;
}

.input-group {
    position: relative;
    display: table;
}
