/* Author: Ulysses Butler */
@font-face
{
  font-family: nexabold;
  src: url('/assets/fonts/nexa-bold.otf');
}

@font-face
{
  font-family: nexabook;
  src: url('/assets/fonts/nexa-book.ttf');
}

body, h1, h2, h3, h4, h5
{
  font-family: nexabook, sans-serif;
}

body
{
  overflow-y: scroll;
}

header
{
  padding-top: 20px;
  padding-bottom: 20px;
}

header, footer, nav
{
  color: white;
  background-color: rgb(81,12,118);
  padding-right: 200px;
  padding-left: 200px;
}

nav ul
{
  margin: 0;
  padding-left: 0;
}

nav ul
{
  list-style-type: none;
}

nav ul li
{
  float: left;
  font-family: nexabook, sans-serif;
}

nav ul li.right
{
  float: right;
}


nav a
{
  font-size: 16px;
  color: white;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0;
}

nav a:hover, #active
{
  color: white;
  background-color: #40095d;
}

#logo
{
  float: left;
  height: 75px;
}

#title
{
  float: right;
}

#title h1
{
  font-family: nexabold, sans-serif;
  font-weight: normal;
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

#title p
{
  font-size: 20px;
  padding-top: 0;
  margin-top: 0;
}

section
{
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 16px;
  padding-bottom: 100px;
}

.clearfix
{
  clear: both;
}

.truman-dark-bg {
  background-color: rgb(81,12,118);
}

h2
{
  font-family: nexabold, sans-serif;
  color: white;
  padding: 10px;
  background-color: rgb(81,12,118);
}

.clickable-row
{
  cursor: pointer;
}

.material-icons
{
  vertical-align: middle;
}
