header {
  margin-bottom: 15px;
}
header h1{
  margin-bottom: 0;
  text-align: center;
}
header h2{
  margin-top: 0;
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
}

#tableView {
  width: 100%;
  transition: width 1s linear;
}


#tableView table input[type=text]{
  margin: 0;
  padding: 0;
}

#lastName, #firstName {
  width: 9ch;
}

#banner {
  width: 11ch;
}

#crn {
  width: 6ch;
}

#num {
  width: 4ch;
}

#detailView {
  width: 0%;
  transition: width 0.5s linear;
  overflow: hidden;
}

#detailView.visible{
  width: 70%;
}

#meta p{
  margin: 0;
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr{
  transition: background-color 0.5s linear;
}

tr.selected{
  background: #FFFF99;
}

#greeting {
  font-size: 20px;
}

#pagesShown {
  display: inline;
}

.noBorder {
  border: none;
  text-align: center;
}

.filter {
  height: 30px;
  width: 100%;
  align-items: center;
}

#bulkActions {
  display: block;
  margin-top: 15px;
}

.search{
  float: right;
  text-align: center;
}

#searchBar {
  width: 80px;
  text-align: center;
  padding: 0;
}

#searchContent {
  width: 160px;
}

#pageCount, #pageMessage{
  text-align: center;
}

#top {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-spacing: 10px;
}

#studentInformation {
  display: table-cell;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

form {
  display: inline;
}

#top h1 {
  text-align: center;
}

#studentInformation p {
  margin-left: 15px;
}

#makeDecision {
  display: table-cell;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  text-align: center;;
}

#makeDecision button {
  margin: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
}
  
#bottom {
  display: table;
  width: 100%;
  border-spacing: 10px;
}

#bottom div {
  display: table-cell;
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

#explanation, #files, #requestMoreInformation, #overrideType, #notes {
  margin-left: 15px;
}