main#adminPage {
    display: flex;
    flex-direction: row;
    flex-wrap: none;
}

#requestTable {
    width: 100%;
    transition: width 0.5s linear;
}

#requestInformation {
  width: 0%;
  transition: width 0.5s linear;
  overflow: hidden;
}

#requests {
    width: 100% !important;
}

#requests table input[type=text] {
    margin: 0;
    padding: 0;
}

#requests tbody td:nth-child(1),
#requests tbody td:nth-child(13) {
    text-align: center;
}

#requests thead tr:nth-child(1) th input[type=text] {
    width: 100%;
    box-sizing: border-box;
}

#requests thead tr:nth-child(1) th {
    padding-left: 5px;
    padding-right: 5px;
}

.select2 {
    width: 100%!important;
    margin: 0!important;
    padding: 0!important;
}

.select2-container {
    width: 100%!important;
}

.select2-search--dropdown .select2-search__field {
    width: 98%!important;
}

tr {
  transition: background-color 0.25s linear;
}

tr.selected {
    background-color: #FFFF99 !important;
}

#requestInformation.visible {
    width: 70%;
}