h2 {
    font-family: nexabold, sans-serif;
    color: white;
    padding: 10px
}

input, select, textarea {
    width: 100%;
}

input, select {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

td {
    white-space: nowrap;
    height: 40px;
}

button {
    float: right;
}