.content-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 0;
}

.orstatus {
    grid-column: 1;
    grid-row: 1;
}

.courseinfo {
    grid-column: 2;
    grid-row: 1;
}

.additional {
    grid-column: 1 / span 2;
    grid-row: 2;
}

th {
    text-align: left;
}

h2 {
    font-family: nexabold, sans-serif;
    color: white;
    padding: 10px
}

/* Shamelessly stolen from Stack Overflow */
textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    width: 100%;
}

td {
    width: 100%;
}

th {
    white-space: nowrap;
}
